{% extends 'base.html' %}

{% block title %}
<title>ResetPassword</title>
{% endblock %}

{% block home_url %}
    <a class="navbar-brand" href="{% url 'athportal:ath_home' %}">Wodproj</a>
{% endblock %}

{% block below_nav_header %}
<div class="container">
    <div class="page-header">
        <h2>Reset Password</h2>
    </div>
</div>
{% endblock %}

{% block body %}
<div class="container">
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Reset</button>
    </form>
</div>
{% endblock %}
