{% extends 'base.html' %}

{% block title %}
    <title>AthleteProfile</title>
{% endblock %}

{% block above_nav %}
<div class="container">
    <h2>Athlete Profile</h2>
</div>
{% endblock %}

{% block home_url %}
    <a class="navbar-brand" href="{% url 'athportal:ath_home' %}">Wodproj</a>
{% endblock %}

{% block navbar %}
    <li><a href="{% url 'athportal:edit_profile' %}">Edit Profile</a></li>
    <li><a href="{% url 'athportal:edit_goals' %}">Edit Goals</a></li>
{% endblock %}

{% block body %}
<div class="container">
    <p>Account Information:</p>
    <p>Username: {{user.username }}</p>
    <p>Email: {{ user.email }}</p><br>
    <p>Pick your account type: {{ additions.user_type }}</p>
    <p>Profile Picture: </p>
    <div class="thumbnail">
        <img src="{{ MEDIA_URL }}{{ additions.user_pic }}" class="img-responsive"/>
    </div><br>
    <p>Bio:</p>
    <p>First Name: {{ user.first_name }}</p>
    <p>Last Name: {{ user.last_name }}</p>
    <p>Gender: {{ athlete.gender }}</p>
    <p>Weight: {{ athlete.weight }} Lbs</p>
    <p>Time per Day: {{ athlete.time_per_day }} mins</p>
    <p>Days per week: {{ athlete.days_per_week }}</p><br>
    <p>Goals:</p>
    {% if goals.stength %}
    <p>Build Strength</p>
    {% endif %}
    {% if goals.lose_weight %}
    <p>Lose Weight</p>
    {% endif %}
    {% if goals.gpp %}
    <p>Build General Physical Preparedness</p>
    {% endif %}
    {% if goals.gain_muscle %}
    <p>Increase Muscle Mass</p>
    {% endif %}
    <br>
</div>
<div class="container">
    <p>Personal Records:</p>
    <table class="table table-hover">
    <thead>
      <tr>
        <th>Movement</th>
        <th>Distance</th>
        <th>Record</th>
        <th>Date</th>
        <th> </th>
        <!-- <th> </th> -->
      </tr>
    </thead>
    <tbody>
        {% for obj in personalrecords %}
        <tr>
            <td>{{obj.movement_name}}</td>

            <td>{% if obj.distance %}
                {{obj.distance}}{{obj.distance_measure}}
                {% endif %}
            </td>

            <td>{{obj.record}}
                {% if obj.measure != 'time' %}
                {{obj.measure}}
                {% endif %}
            </td>
            <td>{{obj.date}}</td>

            <td><a href="{% url 'athportal:edit_personal_record' obj.movement_name %}" type="button" class="btn">Edit Record</a></td>
            <!-- will need a view history option to show progress -->
        </tr>
        {% endfor %}
    </ul>
</div>
{% endblock %}
